<div class = "container-fluid">
	<div class="row">
		<div class = "col-sm-12">
			<a href="/signup">Register</a>

			<form class = "signup" method="POST" action="/login">
				Login
				<div>Username: <input type="text" name="username" placeholder="Please enter a username"></div>
				<div>Password: <input type="text" name="password" placeholder="Please enter a password"></div>
				<input type="submit" value = "Login">
			</form>
			<a href='/login/facebook' class='btn btn-block btn-social btn-facebook'>Login with Facebook</a>

			<h1> Hello, {{user.fb.firstName}} </h1>
			<div><a href="/signout">Signout</a></div>
		

			{{#if message }}
				<div class="alert alert-danger">{{message}}</div>
			{{/if}}
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>