<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='css/bootstrap.min.css' />
    <link rel="stylesheet" type="text/css" href="css/bootstrap-social.css">
  </head>
  <body>
    {{{body}}}
  </body>

  <script type="text/javascript" href ='js/bootstrap.min.js'></script>
</html>
